---
import { projects } from '@cv'
import Section from "@/components/Section.astro"

import Link from '@/icons/Link.astro'
---

<Section title="Proyectos destacados">
    <ul>
        {
            projects.slice(0, 2).map(( { name, company, image, description, url }) => {
                return (
                    <li>
                        <article>
                            <figure>
                                <a href={url} target="_blank">
                                    <img src={image} alt={name}>
                                </a>
                            </figure>                                
                            
                            <div>
                                <header>
                                    <h3>{name}</h3>
                                    <h4>{company}</h4>
                                </header>

                                <p>{description}</p>

                                <footer>
                                    <a href={url}
                                        title={`Ver proyecto ${name}`}
                                        target="_blank">
                                        Ver proyecto &nbsp;<Link />
                                    </a>
                                </footer>
                            </div>
                        </article>                        
                    </li>
                )
            })
        }
    </ul>
</Section>

<style>
    ul {
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin-top: 14px;
    }

    article {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        justify-content: space-between;
        align-items: flex-start;
    }

    article div {
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    article h3 {
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 4px;
    }

    div { width: 80%; }

    footer { padding-top: .5rem; }

    footer a {
        color: var(--brand-color1);
        background: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--brand-color1);
        height: 32px;
        width: auto;
        padding: 12px 12px 14px;
        border-radius: 16px;
        font-size: 0.8rem;
        box-shadow: 0 1px 3px 0 hsla(0, 0%, 0%, 0.1);
    }

    footer a:hover {
        background: var(--brand-color3);
        border: 1px solid var(--brand-color3);
    }

    figure {
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 1px 3px 0 hsla(0, 0%, 0%, 0.15);
        width: 600px;
        overflow: hidden;
    }

    img {
        /* aspect-ratio: 16 / 9;  1280 x 720 */
        padding: 1rem;
        transition: transform 1.5s, filter 1.5s ease-in-out;
        max-width: 100%;
    }

    img:hover { 
        transform: scale(2) translateY(20%) translateX(22%);
    }
</style>